.icon_multidir_hg {
  list-style-image: url("chrome://agrisig/skin/images/multidir-hg.png");
}

.icon_multidir_h {
  list-style-image: url("chrome://agrisig/skin/images/multidir-h.png");
}

.icon_multidir_hd {
  list-style-image: url("chrome://agrisig/skin/images/multidir-hd.png");
}

.icon_multidir_g {
  list-style-image: url("chrome://agrisig/skin/images/multidir-g.png");
}

.icon_multidir_centre {
  list-style-image: url("chrome://agrisig/skin/images/multidir-centre.png");
}

.icon_multidir_d {
  list-style-image: url("chrome://agrisig/skin/images/multidir-d.png");
}

.icon_multidir_bg {
  list-style-image: url("chrome://agrisig/skin/images/multidir-bg.png");
}

.icon_multidir_b {
  list-style-image: url("chrome://agrisig/skin/images/multidir-b.png");
}

.icon_multidir_bd {
  list-style-image: url("chrome://agrisig/skin/images/multidir-bd.png");
}

